body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --def-pad: 8px;
}

* {
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    display: flex;
    justify-content: center;
}

.info {
    background-color: #eee;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* grid-template-rows: repeat(10, auto); */
    gap: 20px 20px;
}


.osama,
.ahmed-sayed,
.mohamed-ibrahim,
.ezz-eldine,
.mohamed-sayed,
.gamal-sayed,
.eman-sayed {
    background-color: #fff;
    padding: var(--def-pad, 10px);
    border-bottom: 3px solid #e75d01;
    display: grid;
}

.mahmoud-mohamed,
.shady-nabil,
.ibrahim-sayed {
    background-color: black;
    color: white;
    padding: var(--def-pad, 10px);
    border-bottom: 3px solid #e75d01;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding: var(--def-pad, 10px);

}


.ex {
    color: #a5a5a5;
    padding: var(--def-pad, 10px);

}

.title {
    font-weight: bold;
    padding: var(--def-pad, 10px);

}

.more {
    padding: var(--def-pad, 10px);

}

.osama {
    grid-area: 1 / 1 / 2 / 3;
}

.shady-nabil {
    grid-area: 1 / 4 / 4 / 5;
}

.mohamed-ibrahim {
    grid-area: 2 / 1 / 4 / 2;
}

.mahmoud-mohamed {
    grid-area: 2 / 2 / 3 / 4
}

.ezz-eldine {
    grid-area: 3 / 2 / 4 /4;
}